<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://kit.fontawesome.com/5a111e3656.css" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Tilt+Neon&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body> 
    <!-- ---------------------------------------NAVBAR START------------------------------------------ -->
    <div class="nav">
        <div class="logo-box">
            <img src="logo.png" alt="logo-img">
            <h3 class="title">Cowin API</h3>
        </div>
        <div class="nav-right">
            <div class="dropdown">
                <button class="nav-button">For Patients</button>  
                <i class="fa-solid fa-chevron-down drop"></i>
                <div class="dropdown-content">
                    <a href="">FAQs</a>
                    <a href="">Cowin</a>
                    <a href="">Patients Help</a>
                    <a href="">Our Doctor</a>
                    <a href="">Our Reviews</a>
                    <a href="">Tracker</a>
                </div>
            </div>
            <div class="app"><h5 class="book">Book Free Appointment</h5></div>
            <div class="city">
                <h5 class="nav-h5">Select City</h5>
                <i class="fa-sharp fa-solid fa-location-dot"></i>
            </div>
        </div>
        
    </div>
    <!---------------------------------------NAVBAR ENDS----------------------------------------->
    <div class="input-box">
        <div class="choice-btn">
            <div class="radio-btn">
                <input type="radio" label="Search" class="switch-btn" id="toggle-on" name="toggle" value="1" onclick="toggle_visibility2('pincode','state');" checked>
                <input type="radio" label="Search by State" class="switch-btn" id="toggle-off" name=toggle value="2" onclick="toggle_visibility1('pincode','state');">
            </div>
        </div>
        <div class="pincode" id='pincode'>
            <div class="pin-form">
                <form name="form1" id='form1' action="" method="post">
                    <div>
                        <div class="pin-input">
                            <label for="Pincode">Pincode</label> <br>
                            <input type="tel" name="Pincode" placeholder="Enter Pincode" maxlength="6" id="intTextBox">
                        </div>
                        <div class="state-input">
                            <label for="inputState">State</label>
                            <select class="form-control" id="inputState">
                                <option value="SelectState" disabled selected>State</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Andra Pradesh">Andra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Lakshadeep">Lakshadeep</option>
                                <option value="Madya Pradesh">Madya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Orissa">Orissa</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Pondicherry">Pondicherry</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttaranchal">Uttaranchal</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </div>
                        <div class="district-input">
                            <label for="inputDistrict">District</label>
                            <select class="form-control" id="inputDistrict">
                                <option value="District">District</option>
                            </select>
                        </div>
                        <div class="fee-input">
                            <label for="Fee">Fee Type</label>
                            <select name="Fee">
                                <option value="All">All</option>
                                <option value="Free" selected>Free</option>
                                <option value="Paid">Paid</option>
                            </select>
                        </div>
                        <div class="vacine-input">
                            <label for="Vacine">Select Vacine</label>
                            <select name="Vacine">
                                <option value="All">All</option>
                                <option value="Covishield">Covishield</option>
                                <option value="Covaxin">Covaxin</option>
                                <option value="Sputnik V">Sputnik V</option>
                                <option value="Corbevax">Corbevax</option>
                            </select>
                        </div>
                        <div class="age-input">
                            <label for="Age">Age</label>
                            <select name="Age">
                                <option value="12">12-14</option>
                                <option value="15">15-18</option>
                                <option value="18">18+</option>
                            </select>
                        </div>
                        <div class="dose-input">
                            <label for="Dose">Dose</label>
                            <select name="Dose">
                                <option value="Dose-1">Dose 1</option>
                                <option value="Dose-2">Dose-2</option>
                                <option value="Precaution-Dose">Precaution Dose</option>
                            </select>
                        </div>  
                        <div class="notify-input">
                            <input type="checkbox" name="check" id="c1-13" type="checkbox">
                            <label for="c1-13">
                                Notify me on Gmail when appointment is confirm.
                            </label>
                        </div>     
                        <div class="search-input">
                            <button class="search-btn">Search</button>
                        </div>         
                    </div>
                </form>
            </div>
        </div>
        <!-- ---------------------------------------FORM 1 ENDS---------------------------------- -->
        <div class="state" id='state' style="display: none;">
            <form name="form2" id="form2" action="" method="post">
                <div class="fee-input">
                    <label for="Fee">Fee Type</label>
                    <select name="Fee">
                        <option value="All">All</option>
                        <option value="Free" selected>Free</option>
                        <option value="Paid">Paid</option>
                    </select>
                </div>
                <div class="vacine-input">
                    <label for="Vacine">Select Vacine</label>
                    <select name="Vacine">
                        <option value="All">All</option>
                        <option value="Covishield">Covishield</option>
                        <option value="Covaxin">Covaxin</option>
                        <option value="Sputnik V">Sputnik V</option>
                        <option value="Corbevax">Corbevax</option>
                    </select>
                </div>
                <div class="age-input">
                    <label for="Age">Age</label>
                    <select name="Age">
                        <option value="12">12-14</option>
                        <option value="15">15-18</option>
                        <option value="18">18+</option>
                    </select>
                </div>
                <div class="dose-input">
                    <label for="Dose">Dose</label>
                    <select name="Dose">
                        <option value="Dose-1">Dose 1</option>
                        <option value="Dose-2">Dose-2</option>
                        <option value="Precaution-Dose">Precaution Dose</option>
                    </select>
                </div>  
                <div class="notify-input">
                    <input type="checkbox" name="check" id="c1-13" type="checkbox">
                    <label for="c1-13">
                        Notify me on Whatsapp when appointment is confirm.
                    </label>
                </div>     
                <div class="search-input">
                    <button class="search-btn">Search</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5a111e3656.js" crossorigin="anonymous"></script>
<script src="func.js"></script>
</html>